{% extends "base/base.html" %}


{% block content %}



  


<div class="relative overflow-x-auto shadow-md sm:rounded-lg" style="    margin: 10rem;
padding: 0rem;">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    ToDO
                </th>
                <h3><a href="{% url 'todo-create' %}">Create ToDO</a></h3>
                <th scope="col" class="px-6 py-3">
                    Time
                </th>
                <th scope="col" class="px-6 py-3">
                    Actions
                </th>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for todo in todos %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                    {{ todo }}
                </th>
                <td class="px-6 py-4">
                    {{ todo.create }}
                </td>
                <div class="actions">
                    <td class="px-6 py-4 text-right">
                        <a href="{% url 'edit' todo.id %}"
                            class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-s px-5 py-2.5 text-center mr-2 mb-2">Edit</a>
                    </td>
                    <td class="px-10 py-10 text-right">
                        <a href="{% url 'delete' todo.id %}"
                            class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-s px-5 py-2.5 text-center mr-2 mb-2">Delete</a>
                    </td>
                </div>
            </tr>
            {% endfor %}
            {% endblock content %}

            </tr>
        </tbody>
    </table>
</div>
